cloudgov_organization     = "$cloudgov_organization"
cloudgov_password         = "$CF_PASSWORD"
cloudgov_production_space = "$cloudgov_production_space"
cloudgov_username         = "$CF_USER"
github_organization       = "$github_organization"
github_token              = "$github_token"
newrelic_key              = "$GSA_AUTH_KEY"