name: Build and deploy

on:
  push:
    branches:
      - develop
      - main
      - stage
      - feature/DIGITAL-*-deploydev
      - feature/DIGITAL-*-deploystaging
      - release/*
      - hotfix/*

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  validate:
    uses: ./.github/workflows/validation-run.yml
    secrets: inherit
  deploy-infra:
    uses: ./.github/workflows/terraform-deploy-infra.yml
    needs: validate
    secrets: inherit
  install-node-version:
    uses: actions/setup-node@v6
    with:
      node-version: '>=22.2.0'
  deploy-app:
    uses: ./.github/workflows/cloudgov-deploy-app.yml
    needs: [deploy-infra, install-node-version]
    secrets: inherit
